<table style="width: 100%;">
	<tr>
		<td colspan="4" width="40%">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Đăng Nhập
				</div>
				<div class="panel-body">
					<table style="width: 100%;">
						<tr>
							<td width="30%" style="padding-top:10px; padding-bottom:10px;">
								ID
							</td>
							<td width="70%" style="padding-top:10px; padding-bottom:10px;">
								<div>
									<input type="text" class="form-control" placeholder="ID">
								</div>
							</td>
						</tr>
						<tr>
							<td width="30%" style=" padding-bottom:10px;">
								Password
							</td>
							<td width="70%" style=" padding-bottom:10px;">
								<div>
									<input type="text" class="form-control" placeholder="Password">
								</div>
							</td>
						</tr>
						<tr>
							<td width="30%">
								Capcha
							</td>
							<td width="70%">
								<div>
									<input type="text" class="form-control" placeholder="Capcha">
								</div>
							</td>

						</tr>
						<tr>
							<td style="padding-top:10px; padding-bottom:10px;">

								<a href="#" style="text-decoration: none; ">
                                        Quên mật khẩu?
                                    </a>

							</td>
							<td style="padding-top:10px; padding-bottom:10px;">
								<button type="button" class="btn btn-primary" style=" float: right;">Sign In</button>
							</td>
						</tr>
					</table>

				</div>
			</div>
		</td>
		<td colspan="1" width="1%">

		</td>
		<td colspan="5" width="55%">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Đăng Ký
				</div>
				<div class="panel-body">
					<form #formSignUp="ngForm" (ngSubmit)="SignUp(formSignUp)">
						<table style="width: 100%;">
							<tr>
								<td width="30%" style="padding-top:10px; padding-bottom:10px;">
									ID
								</td>
								<td width="60%" style="padding-top:10px; padding-bottom:10px;">
									<div>
										<input type="text" class="form-control" placeholder="Username để đăng nhập" #username="ngForm" id="username" name="username">
									</div>
								</td>
								<td width="10%">
									<i style="padding-left :10px;" class="fa fa-check" aria-hidden="true"></i>
								</td>
							</tr>
							<tr>
								<td width="30%" style=" padding-bottom:10px;">
									Password
								</td>
								<td width="70%" style=" padding-bottom:10px;">
									<div>
										<input type="text" class="form-control" placeholder="Mật khẩu" #password = "ngForm" id="password" name="password">
									</div>
								</td>
								<td width="10%" style=" padding-bottom:10px;">
									<i style="padding-left :10px;" class="fa fa-check" aria-hidden="true"></i>
								</td>
							</tr>
							<tr>
								<td width="30%">
									Email
								</td>
								<td width="70%">
									<div>
										<input type="text" class="form-control" placeholder="Email" #email="ngForm" id="email" name ="email">
									</div>
								</td>
								<td width="10%">
									<i style="padding-left :10px;" class="fa fa-check" aria-hidden="true"></i>
								</td>
							</tr>
							<tr>
								<td style="padding-top:10px; padding-bottom:10px;">
								</td>
								<td style="padding-top:10px; padding-bottom:10px;">
									<button type="button" class="btn btn-primary" style=" float: right;">Sign Up</button>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</td>
	</tr>
</table>