<nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div  class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" style="font-size: 50px;    line-height: 0;" [routerLink]="['Home']">QnA</a></h1>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
            
                <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm">
                </div>
                <button type="submit" class="btn btn-default">Tìm kiếm</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['Home']">Các câu hỏi</a></li>
                <li><a href="#">Tags</a></li>
                <li><a [routerLink]="['ListUser']">Thành viên</a></li>
                <li><a href="#">Chưa trả lời</a></li>
                <li><a [routerLink]="['AskPage']">Đặt câu hỏi</a></li>
                </ul>
                <ul class="center nav nav-pills navbar-right">
                    <li style="background:white;" *ngIf="isLoged">
                        <a [routerLink]="['MyProfile']">
                        <!--<span class="badge pull-right">! 41</span>-->
                        <!--<span class="badge pull-right">? 4</span>-->
                        {{name}}
                        </a>
                    </li>
                    <li style="background:white;">
                        <a [routerLink]="['SignPage']" *ngIf="!isLoged">
                        Sign In / Sign Up  
                        </a>
                    </li>
                    <li style="background:white;">
                        <a  (click)="onLogout()" *ngIf="isLoged">
                        Log Out 
                        </a>
                        <!--<button type="submit" class="btn btn-primary " style=" float: right; " *ngIf="!isSignUp">Sign Up</button>-->
									
                    </li>
                </ul>
            </div>
            </nav>      