<table>
    <tr>
        <td width=75%>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" style=" border: 5px solid white ;width: 200px; height: 200px;" src="{{ avatarUrl }}">

                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{name}}</h2>
                    <p style="width:80%; padding:10px; padding-top: 10px;"> {{summary1}}</p>
                </div>
            </div>
        </td>
        <td>
            <ul class="list-group">
                <li class="list-group-item">Tham gia từ <span class="badge pull-right">{{dateJoin}}</span></li>
                <li class="list-group-item">Số lượng bài viết <span class="badge pull-right">{{totalPost}}</span></li>
                <li class="list-group-item">Trả lời đúng <span class="badge pull-right">{{totalCorrectAns}}</span></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a data-toggle="tab" href="#profile" class="btn">Hồ sơ</a></li>
                <li role="presentation"><a data-toggle="tab" href="#activities" class="btn ">Hoạt động</a></li>
            </ul>

            <div align="justify" class="tab-content" style="background-color:#ffffff;border: 1px solid #dddddd; border-top:0; ">
                <div id="profile" class="tab-pane fade in active">
                    <form #formUp="ngForm" (ngSubmit)="updateInfo(formUp.form)">
                        <div class="form-group">
                            <table class="center" style="width: 80%; ">
                                <tr>
                                    <td width="30% " style="padding-top:10px; padding-bottom:10px; ">
                                        Tên người sử dụng
                                    </td>
                                    <td width="60% " style="padding-top:10px; padding-bottom:10px; ">
                                        <div>
                                            <input type="text" class="form-control" placeholder="{{name}}" [disabled]="!isEdit" ngControl="usernameUp" #usernameUp="ngForm" id="usernameUp" name="usernameUp" pattern=".{6,}" title="Tên đăng nhập cần nhiều hơn 6 ký tự">
                                        </div>
                                    </td>
                                    <td width="10% ">
                                        <!--<i style="padding-left :10px; " class="fa fa-check " aria-hidden="true" *ngIf="usernameUnique && usernameUp.touched && usernameUp.valid"></i>-->
                                    </td>
                                </tr>

                                <tr>
                                    <td width="30% " style="padding-top:10px; padding-bottom:10px; ">
                                        Ảnh đại diện
                                    </td>
                                    <td width="70% " style="padding-top:10px; padding-bottom:10px; ">
                                        <div>
                                            <input type="text" class="form-control" placeholder="{{avatarUrl}}" [disabled]="!isEdit" ngControl="avatar" #avatar="ngForm" id="avatar" name="avatar">
                                        </div>
                                        <!--<div class="alert alert-danger" *ngIf="email.touched && !email.valid">-->
                                        <!--	Password không phù hợp-->
                                        <!--</div>-->
                                    </td>
                                    <td width="10% ">
                                        <!--<i style="padding-left :10px; " class="fa fa-check " aria-hidden="true "></i>-->
                                    </td>
                                </tr>



                                <tr>

                                    <td width="30% " style="padding-top:10px; padding-bottom:10px; ">
                                        Mô tả bản thân
                                    </td>


                                    <td width="70% " style="padding-top:10px; padding-bottom:10px; ">
                                        <div class="form-group">
                                            <textarea ngControl="summary" #summary="ngForm" placeholder="{{summary1}}" [disabled]="!isEdit" name="summary" class="form-control" ngModel id="summary"></textarea>
                                        </div>
                                        <!--<div class="alert alert-danger" *ngIf="email.touched && !email.valid">-->
                                        <!--	Password không phù hợp-->
                                        <!--</div>-->
                                    </td>



                                    <td width="10% ">
                                        <!--<i style="padding-left :10px; " class="fa fa-check " aria-hidden="true "></i>-->
                                    </td>
                                </tr>

                                <tr class="collapse" id="changpass">

                                    <td width="30% " style=" padding-bottom:10px; ">
                                        Mật khẩu mới
                                    </td>
                                    <td width="70% " style=" padding-bottom:10px; ">
                                        <div>
                                            <input type="password" class="form-control" placeholder="*********" ngControl="passwordUp" #passwordUp="ngForm" id="passwordUp" name="passwordUp" pattern=".{6,}" title="Mật khẩu cần nhiều hơn 6 ký tự">
                                        </div>
                                    </td>
                                    <td width="10% " style=" padding-bottom:10px; ">
                                    </td>

                                </tr>


                                <tr class="collapse" id="changpassre">

                                    <td width="30% " style=" padding-bottom:10px; ">
                                        Nhập lại mật khẩu mới
                                    </td>
                                    <td width="70% " style=" padding-bottom:10px; ">
                                        <div>
                                            <input type="password" class="form-control" placeholder="*********" ngControl="passwordRe" #passwordRe="ngForm" id="passwordRe" name="passwordRe" pattern=".{6,}" title="Mật khẩu cần nhiều hơn 6 ký tự">
                                        </div>
                                    </td>
                                    <td width="10% " style=" padding-bottom:10px; ">
                                    </td>

                                </tr>


                                <tr>
                                    <td style="padding-top:10px; padding-bottom:10px; ">
                                        <button type="button" class="btn btn-primary " [class.disabled]="!isEdit" style=" float: left ; " data-toggle="collapse" data-target="#changpass,#changpassre" *ngIf="!isSignUp">Đổi mật khẩu</button>
                                    </td>
                                    <td style="padding-top:10px; padding-bottom:10px; ">
                                        <i class="fa fa-spinner fa-spin fa-2x" style=" float: right;" *ngIf="updating"></i>
                                        <button type="submit" class="btn btn-primary " style=" float: right; " *ngIf="isEdit">Lưu</button>
                                        <button type="button" class="btn btn-primary " style=" float: right; " *ngIf="!isEdit" (click)="onEdit()">Sửa thông tin</button>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </form>

                </div>
                <div id="activities" class="tab-pane fade">
                    <ul class="nav nav-tabs nav-justified">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#allactive" class="btn">Tất cả</a></li>
                        <li role="presentation"><a data-toggle="tab" href="#answers" class="btn ">Câu trả lời</a></li>
                        <li role="presentation"><a data-toggle="tab" href="#questions" class="btn ">Câu hỏi</a></li>
                    </ul>

                    <div align="justify" class="tab-content" style="background-color:#ffffff;border: 1px solid #dddddd; border-top:0; ">
                        <div id="allactive" class="tab-pane fade in active">
                            <ul class="list-group"> 
                                <li *ngFor="#post of listPost" class="list-group-item"><span class="label" [ngClass]="{'label-success': post.isBest,'label-default': !post.isBest}">{{post.upvote}}</span><a class="btn" [routerLink]="['PostPage',{id:post._id}]">{{post | posttitle}}</a></li>
                                <li class="list-group-item"><span style="min-width: 45px;" class="label label-default"></span> <button type="button" (click)="loadmore('all')" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Hiển thị thêm </button></li>
                            </ul>

                        </div>
                        <div id="answers" class="tab-pane fade">
                            <ul class="list-group">
                                <li *ngFor="#answer of listAnswers" class="list-group-item"><span class="label" [ngClass]="{'label-success': answer.isBest,'label-default': !answer.isBest}">{{answer.upvote}}</span><a class="btn">{{answer | posttitle}}</a></li>
                                <li class="list-group-item"><span style="min-width: 45px;" class="label label-default"></span> <button type="button" (click)="loadmore('ans')" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Hiển thị thêm </button></li>

                            </ul>
                        </div>
                        <div id="questions" class="tab-pane fade">
                            <ul class="list-group">
                                <li *ngFor="#question of listQuestion" class="list-group-item"><span class="label"[ngClass]="{'label-success': question.isAnswered,'label-default': !question.isAnswered}">{{question.upvote}}</span><a class="btn" [routerLink]="['PostPage',{id:question._id}]">{{question | posttitle}}</a></li>
                                <li class="list-group-item"><span style="min-width: 45px;" class="label label-default"></span> <button type="button" (click)="loadmore('qus')" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Hiển thị thêm </button></li>

                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </td>
    </tr>
</table>
<div id="snackbar">Đổi Password thành công</div>
